---
layout: layouts/blogBase.njk
templateClass: blog-content
---
<h2 class="takanorip-blogTitle takanorip-blogHead">{{ title }}</h2>
<div class="takanorip-blogInfo">
  <div class="takanorip-blogDate">
    <p class="takanorip-blogDateDate">{{ date.toLocaleDateString('ja-JP', { year: 'numeric', month: 'long', day: 'numeric' }) }}</p>
  </div>
  <ul class="takanorip-blogTagList">
    {%- for t in tags -%}
      {% if t !== 'blog' %}
      {% set tagUrl = '/tags/' + t + '/' %}
      <li class="takanorip-blogTagItem"><a class="takanorip-blogTagLink" href="{{ tagUrl | url }}">{{ t }}</a></li>
      {% endif %}
    {%- endfor -%}
  </ul>
</div>
<div class="takanorip-blogBoby">
  {{ content | safe }}
</div>
