---
permalink: feed.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.description }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self"/>
  <link href="{{ metadata.url }}"/>
  <updated>{{ collections.blog | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for blog in collections.blog %}
  {% set absolutePostUrl %}{{ blog.url | htmlBaseUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ blog.data.title }}</title>
    <link href="{{ absolutePostUrl }}"/>
    <updated>{{ blog.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{ blog.content | renderTransforms(blog.data.page, metadata.url) }}</content>
  </entry>
  {%- endfor %}
</feed>